resources/production/schema/de.gematik.erezept-workflow.r4/1.1.1/xml/task/Gem_erxTask.xsd

<?xml version="1.0" encoding="utf-8"?>
<!--
  ~ (C) Copyright IBM Deutschland GmbH 2021, 2024
  ~ (C) Copyright IBM Corp. 2021, 2024
  ~
  ~ non-exclusively licensed to gematik GmbH
  -->

<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema" xmlns="http://hl7.org/fhir" targetNamespace="http://hl7.org/fhir" elementFormDefault="qualified" version="4.0.1">
  <xs:include schemaLocation="../identifier/Identifier.xsd"/>
  <xs:include schemaLocation="../extension/PrescriptionTypeExtension.xsd"/>
  <xs:element name="Task" type="Gem_erxTask"/>
  <xs:complexType name="Gem_erxTask">
  <xs:complexContent>
    <xs:extension base="Resource">
      <xs:sequence>
        <xs:element name="text" type="Narrative" minOccurs="0"/>
        <xs:element name="extension" type="Extension.Task" maxOccurs="3"/>
        <xs:element name="modifierExtension" type="Extension" minOccurs="0" maxOccurs="unbounded"/>
        <xs:element name="identifier" maxOccurs="3" type="Identifier"/>
        <xs:element name="instantiatesCanonical" minOccurs="0" type="canonical"/>
        <xs:element name="instantiatesUri" minOccurs="0" type="uri"/>
        <xs:element name="basedOn" minOccurs="0" maxOccurs="unbounded" type="Reference"/>
        <xs:element name="groupIdentifier" minOccurs="0" type="Identifier"/>
        <xs:element name="partOf" minOccurs="0" maxOccurs="unbounded" type="Reference"/>
        <xs:element name="status" type="Gem_erxTask.Status"/>
        <xs:element name="statusReason" minOccurs="0" type="CodeableConcept"/>
        <xs:element name="businessStatus" minOccurs="0" type="CodeableConcept"/>
        <xs:element name="intent" type="Gem_erxTask.Intent"/>
        <xs:element name="priority" minOccurs="0" type="Gem_erxTask.RequestPriority"/>
        <xs:element name="code" minOccurs="0" type="CodeableConcept"/>
        <xs:element name="description" minOccurs="0" type="string"/>
        <xs:element name="focus" minOccurs="0" type="Reference"/>
        <xs:element name="for" minOccurs="0" type="Gem_erxTask.Insured.Reference"/>
        <xs:element name="encounter" minOccurs="0" type="Reference"/>
        <xs:element name="executionPeriod" minOccurs="0" type="Period"/>
        <xs:element name="authoredOn" type="dateTime"/>
        <xs:element name="lastModified" type="dateTime"/>
        <xs:element name="requester" minOccurs="0" type="Reference"/>
        <xs:element name="performerType" maxOccurs="unbounded" type="Gem_erxTask.PerformerType.CodeableConcept"/>
        <xs:element name="owner" minOccurs="0" type="Reference"/>
        <xs:element name="location" minOccurs="0" type="Reference"/>
        <xs:element name="reasonCode" minOccurs="0" type="CodeableConcept"/>
        <xs:element name="reasonReference" minOccurs="0" type="Reference"/>
        <xs:element name="insurance" minOccurs="0" maxOccurs="unbounded" type="Reference"/>
        <xs:element name="note" minOccurs="0" maxOccurs="unbounded" type="Annotation"/>
        <xs:element name="relevantHistory" minOccurs="0" maxOccurs="unbounded" type="Reference"/>
        <xs:element name="restriction" type="Gem_erxTask.Restriction" minOccurs="0"/>
        <xs:element name="input" type="Gem_erxTask.Input" minOccurs="0" maxOccurs="2"/>
        <xs:element name="output" type="Gem_erxTask.Output" minOccurs="0"/>
       </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:complexType name="Gem_erxTask.Insured.Reference">
    <xs:complexContent>
      <xs:extension base="Element">
        <xs:sequence>
          <xs:element name="reference" type="string" minOccurs="0"/>
          <xs:element name="type" type="uri" minOccurs="0"/>
          <xs:element name="identifier" type="KVID.Identifier"/>
          <xs:element name="display" type="string" minOccurs="0"/>
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:complexType name="Gem_erxTask.PerformerType.CodeableConcept">
    <xs:complexContent>
      <xs:restriction base="CodeableConcept">
        <xs:sequence>
          <xs:element name="coding" type="Gem_erxTask.PerformerType.CodeableConcept.Coding" maxOccurs="unbounded"/>
          <xs:element name="text" type="string" minOccurs="0"/>
        </xs:sequence>
      </xs:restriction>
    </xs:complexContent>
  </xs:complexType>
  <xs:complexType name="Gem_erxTask.PerformerType.CodeableConcept.Coding">
    <xs:complexContent>
      <xs:extension base="Element">
        <xs:sequence>
          <xs:element name="system" type="Gem_erxTask.PerformerType.CodeableConcept.Coding.uri" minOccurs="0"/>
          <xs:element name="version" type="string" minOccurs="0"/>
          <xs:element name="code" type="Gem_erxTask.PerformerType.CodeableConcept.Coding.code" minOccurs="0"/>
          <xs:element name="display" type="Gem_erxTask.PerformerType.CodeableConcept.Coding.display" minOccurs="0"/>
          <xs:element name="userSelected" type="boolean" minOccurs="0"/>
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:complexType name="Gem_erxTask.PerformerType.CodeableConcept.Coding.display">
    <xs:complexContent>
      <xs:extension base="Element">
        <xs:attribute name="value" type="string-primitive" fixed="Öffentliche Apotheke"/>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:complexType name="Gem_erxTask.PerformerType.CodeableConcept.Coding.code">
    <xs:complexContent>
      <xs:extension base="Element">
        <xs:attribute name="value" type="code-primitive" fixed="urn:oid:1.2.276.0.76.4.54"/>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:complexType name="Gem_erxTask.PerformerType.CodeableConcept.Coding.uri">
    <xs:complexContent>
      <xs:extension base="Element">
        <xs:attribute name="value" type="uri-primitive" fixed="urn:ietf:rfc:3986"/>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:complexType name="Gem_erxTask.Status">
    <xs:complexContent>
      <xs:extension base="Element">
        <xs:attribute name="value" type="Gem_erxTask.Status-list"/>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:simpleType name="Gem_erxTask.Status-list">
    <xs:restriction base="code-primitive">
      <xs:enumeration value="draft"/>
      <xs:enumeration value="ready"/>
      <xs:enumeration value="cancelled"/>
      <xs:enumeration value="in-progress"/>
      <xs:enumeration value="completed"/>
    </xs:restriction>
  </xs:simpleType>
  <xs:complexType name="Gem_erxTask.Intent">
    <xs:complexContent>
      <xs:extension base="Element">
        <xs:attribute name="value" type="Gem_erxTask.Intent-list"/>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:simpleType name="Gem_erxTask.Intent-list">
    <xs:restriction base="code-primitive">
      <xs:enumeration value="order"/>
    </xs:restriction>
  </xs:simpleType>
  <xs:complexType name="Gem_erxTask.RequestPriority">
    <xs:complexContent>
      <xs:extension base="Element">
        <xs:attribute name="value" type="Gem_erxTask.RequestPriority-list"/>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:simpleType name="Gem_erxTask.RequestPriority-list">
    <xs:restriction base="code-primitive">
      <xs:enumeration value="routine"/>
      <xs:enumeration value="urgent"/>
      <xs:enumeration value="asap"/>
      <xs:enumeration value="stat"/>
    </xs:restriction>
  </xs:simpleType>
  <xs:complexType name="Gem_erxTask.Restriction">
    <xs:complexContent>
      <xs:extension base="BackboneElement">
        <xs:sequence>
          <xs:element name="repetitions" minOccurs="0" type="positiveInt"/>
          <xs:element name="period" minOccurs="0" type="Period"/>
          <xs:element name="recipient" minOccurs="0" maxOccurs="unbounded" type="Reference"/>
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:complexType name="Gem_erxTask.Input">
    <xs:complexContent>
      <xs:extension base="BackboneElement">
        <xs:sequence>
          <xs:element name="type" type="Gem_erxTask.Input.CodeableConcept"/>
          <xs:element name="valueReference" type="Gem_erxTask.Input.Reference"/>
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:complexType name="Gem_erxTask.Input.CodeableConcept">
    <xs:complexContent>
      <xs:extension base="Element">
        <xs:sequence>
          <xs:element name="coding" type="Gem_erxTask.Input.Coding"/>
          <xs:element name="text" type="string" minOccurs="0"/>
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:complexType name="Gem_erxTask.Input.Coding">
    <xs:complexContent>
      <xs:extension base="Element">
        <xs:sequence>
          <xs:element name="system" type="Gem_erxTask.Input.uri"/>
          <xs:element name="version" type="string" minOccurs="0"/>
          <xs:element name="code" type="Gem_erxTask.Input.code"/>
          <xs:element name="display" type="string" minOccurs="0"/>
          <xs:element name="userSelected" type="boolean" minOccurs="0"/>
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:complexType name="Gem_erxTask.Input.uri">
    <xs:complexContent>
      <xs:extension base="Element">
        <xs:attribute name="value" type="uri-primitive" fixed="https://gematik.de/fhir/CodeSystem/Documenttype"/>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:complexType name="Gem_erxTask.Input.code">
    <xs:complexContent>
      <xs:extension base="Element">
        <xs:attribute name="value" type="Gem_erxTask.Input.code-list"/>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:simpleType name="Gem_erxTask.Input.code-list">
    <xs:restriction base="code-primitive">
      <xs:enumeration value="1"/>
      <xs:enumeration value="2"/>
    </xs:restriction>
  </xs:simpleType>
  <xs:complexType name="Gem_erxTask.Input.Reference">
    <xs:complexContent>
      <xs:extension base="Element">
        <xs:sequence>
          <xs:element name="reference" type="string"/>
          <xs:element name="type" type="uri" minOccurs="0"/>
          <xs:element name="identifier" type="Identifier" minOccurs="0"/>
          <xs:element name="display" type="string" minOccurs="0"/>
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:complexType name="Gem_erxTask.Output">
    <xs:complexContent>
      <xs:extension base="BackboneElement">
        <xs:sequence>
          <xs:element name="type" type="Gem_erxTask.Output.CodeableConcept"/>
          <xs:element name="valueReference" type="Gem_erxTask.Input.Reference"/>
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:complexType name="Gem_erxTask.Output.CodeableConcept">
    <xs:complexContent>
      <xs:extension base="Element">
        <xs:sequence>
          <xs:element name="coding" type="Gem_erxTask.Output.Coding"/>
          <xs:element name="text" type="string" minOccurs="0"/>
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:complexType name="Gem_erxTask.Output.Coding">
    <xs:complexContent>
      <xs:extension base="Element">
        <xs:sequence>
          <xs:element name="system" type="Gem_erxTask.Input.uri"/>
          <xs:element name="version" type="string" minOccurs="0"/>
          <xs:element name="code" type="Gem_erxTask.Output.code"/>
          <xs:element name="display" type="string" minOccurs="0"/>
          <xs:element name="userSelected" type="boolean" minOccurs="0"/>
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:complexType name="Gem_erxTask.Output.code">
    <xs:complexContent>
      <xs:extension base="Element">
        <xs:attribute name="value" type="code-primitive" fixed="3"/>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:complexType name="Extension.Task">
    <xs:complexContent>
      <xs:extension base="Element">
        <xs:choice minOccurs="0">
          <xs:element name="valueDate" type="date"/>
          <xs:element name="valueCoding" type="PrescriptionType.Coding"/>
        </xs:choice>
        <xs:attribute name="url" type="uri-primitive" use="required"/>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:complexType name="Task.Identifier">
    <xs:complexContent>
      <xs:extension base="Element">
        <xs:sequence>
          <xs:element name="use" type="IdentifierUse" minOccurs="0"/>
          <xs:element name="type" type="CodeableConcept" minOccurs="0"/>
          <xs:element name="system" type="Gem_erxPrescriptionID.Identifier.uri"/>
          <xs:element name="value" type="string"/>
          <xs:element name="period" type="Period" minOccurs="0"/>
          <xs:element name="assigner" type="Reference" minOccurs="0"/>
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
</xs:schema>